<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Contatos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon people-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>people</mat-icon>
    </button>
  </mat-toolbar>
  <form>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input type="text" matInput 
               placeholder="Ex.: Fulado de Tal">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput 
               placeholder="Ex.: nome@email.com">
    </mat-form-field>
    <button mat-raised-button color="primary">Adicionar</button>
  </form>